<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WeatherStation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <applicationSettings>
        <WeatherStation.Properties.Settings>
            <setting name="MinPort" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MaxPort" serializeAs="String">
                <value>19999</value>
            </setting>
            <setting name="Timeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MaxRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DsEndPoint" serializeAs="String">
                <value>224.1.1.2:5000</value>
            </setting>
            <setting name="PublicationInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="DiscoveryInterval" serializeAs="String">
                <value>10</value>
            </setting>
        </WeatherStation.Properties.Settings>
    </applicationSettings>
</configuration>
